.essay-detail-container {
    background-color: var(--clr-bg);
    min-height: 100vh;
    padding: 20px;
}

.essay-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--clr-bg-card);
    border-radius: 10px;
    box-shadow: 0 4px 12px var(--clr-box-shadow);
}

.essay-detail h1 {
    font-size: var(--fs-xlarge);
    color: var(--clr-primary);
    margin-bottom: 20px;
}

.essay-detail h2 {
    font-size: var(--fs-large);
    color: #333;
    margin-bottom: 20px;
}

.essay-detail p {
    font-size: var(--fs-secondary);
    line-height: 1.8;
    color: #666;
}