.essay-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: var(--clr-bg);
    min-height: 100vh;
}

.essay-page-hero {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--clr-bg-card);
    box-shadow: 0 4px 12px var(--clr-box-shadow);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 40px;
    text-align: center;
}

.essay-page-hero-content {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
}

.essay-page-hero-content h1 {
    font-size: var(--fs-xlarge);
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.essay-page-hero-content p {
    font-size: var(--fs-secondary);
    line-height: 1.6;
    color: #666;
    margin-bottom: 0;
}

.essay-page-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.essay-page-item {
    background-color: var(--clr-bg-card);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--clr-box-shadow);
    transition: transform 0.3s, box-shadow 0.3s;
}

.essay-page-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px var(--clr-box-shadow);
}

.essay-page-item h2 a {
    font-size: 1.5rem;
    color: var(--clr-primary);
    text-decoration: none;
    transition: color 0.3s;
}

.essay-page-item h2 a:hover {
    color: #003d80;
}

.essay-page-item h3 {
    font-size: var(--fs-primary);
    color: #666;
    margin-top: 10px;
}